<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="container">
        <div>
            <ul>
                <li>
                    <h3>mail</h3>bastien.pimienta@gmail.com
                </li>
                <hr>
                <li>
                   <h3>téléphone</h3>06.61.83.76.52
                </li>
                <hr>
                <li>
                    <h3>adresse</h3>200 allée de gratigny<br>38530 chapareillan
                </li>
                <hr>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/bastien-pimienta-0732a219b/">
                        <h3>linkedin</h3>Pimienta bastien
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<app-url-reference></app-url-reference>
