<!-- 
<div class="animationContainer" id="container1">
  
    <span>b</span><span>a</span><span>s</span><span>t</span>
    <span>i</span><span>e</span><span>n</span>
    <span class="ml-3">p</span><span>i</span><span>m</span><span>i</span>
    <span>e</span><span>n</span><span >t</span><span>a</span>

<div class="progress position-absolute" [ngClass]="{'showProgress1':progress1 === true}"></div>

</div>
<div class="animationContainer" id="container2" [ngClass]="{'condition': balance === true, 'hideWelcomeMenu': hideAll === true}">
        
        <span>d</span><span>é</span><span>v</span><span>e</span>
        <span>l</span><span>o</span><span>p</span>
        <span>p</span><span>e</span><span>u</span><span>r</span>
        <span class="ml-3">w</span><span>e</span><span >b</span><span class="ml-3">j</span>
        <span>u</span><span>n</span><span>i</span><span>o</span><span>r</span>
        
<div class="progress position-absolute" [ngClass]="{'showProgress2':progress2 === true}"></div>

</div>

 -->
