<app-navbar></app-navbar>

<div class="homeSection">
    <div class="headerHome">
    </div>
    
    <div class="keyWords">
        <div class="ambitionsLabel d-flex">
        <h2>ambitions</h2>
            <div class="hiddenText ambitionsText">
                <p class="">Désir ardent de parvenir à mon but</p>
            </div>
        </div>
        <div class="determinationLabel d-flex">
        <h2>Détermination</h2>
            <div class="hiddenText determinationText">
                <p>Ne jamais lacher, être audacieux</p>
            </div>
        </div>
        <div class="travailLabel d-flex">
        <h2>Travail</h2>
            <div class="hiddenText travailText">
                <p>S'impliquer à 100%</p>
            </div>
        </div>
    </div>
</div>

<app-url-reference></app-url-reference>

