<app-navbar></app-navbar>

<div class="menu-container">
  <ul>
    <li>
      <a href="#"><i class="fab fa-html5 icon"></i></a>
      <h2 class="iconTitle">html 5</h2>
    </li>
    <li>
      <a href="#"><i class="fab fa-css3-alt icon"></i></a>
      <h2 class="iconTitle">css 3</h2>
    </li>
    <li>
      <a href="#"><i class="fab fa-angular icon"></i></a>
      <h2 class="iconTitle">angular</h2>
    </li>
    <li>
      <a href="#"><i class="fab fa-php icon"></i></a>
      <h2 class="iconTitle">php</h2>
    </li>
    <li>
      <a href="#"><i class="fab fa-js icon"></i></a>
      <h2 class="iconTitle">javascript</h2>
    </li>
    <li>
      <a href="#"><i class="fab fa-github icon"></i></a>
      <h2 class="iconTitle">gitHub</h2>
    </li>
    <li>
      <a href="#" class="imageIcon"><img class="icon" src="/assets/img/competences/adobe.png"></a>
      <h2 class="iconTitle">adobe xd</h2>
    </li>
    <li>
      <h2 class="iconTitle hoverMe">Hover me !</h2>
    </li>
  </ul>
</div>

<app-url-reference></app-url-reference>
