/* BAS PAGE  */
.pageReference{
    position: absolute;
    color: rgb(119, 119, 119);
    width: 100%; 
    bottom: 0;
    display: flex;  
    align-items: center;
    padding: 10px 10%;
}
.pageReference hr{
    background-color: rgb(119, 119, 119);
    margin: 0;
    width: 100%; 
}
.pageReference p{
    margin: 0;
    padding: 0 8px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@media screen and (max-width: 770px){
    .pageReference{
        display: none;
    }
}