<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="py-5">
        <h3>Développement</h3>
        <p>CV créé avec Angular CLI 9.0.7</p>
        <h3 class="mt-5">projets</h3>
        <p>en cours: Business Case</p>
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                  <img [src]="image" alt="Random slide">
                </div>
              </ng-template>
          </ngb-carousel>
    </div>
</div>

<app-url-reference></app-url-reference>
